<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Noob Framework</title>
    <link rel="stylesheet" href="public/css/styles.css" type="text/css" />
  </head>
 
  <body>
    <div class="container">
      
      <main>
        <div class="background-filter"></div>
        <div class="content">
          <h1> 
            Modelo framework <br/>
            created to make your life easier
          </h1>
          <a href="#docs">Atalho</a>
        </div>
      </main>
      
      <section>
        <h1 class="title" id="docs"> Título </h1>
        <article>
          
          <div class="content-article">
            <h3> Subtítulo </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <br/><br/>
              
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <br/><br/>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <br/><br/> 
            </p> 
          </div>
          
          <div class="preview">
            <div class="windows">
              <button
                id="session-code-window"
                class="focus-1"
                onclick="changeWindow('session-code', true) > UserController.php
              </button>
                         
              <button
                id="Home" onclick="changeWindow('html-code', true)"> home.html
              </button>
                                                                   
              <button
                id="preview-code-window"
                onclick="changeWindow('preview-code', true)"> Preview
              </button>                                                 
             </div>
           </div>
       </article>
     </subtitle>
   </div>
  </body>
</html>
